* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
}

.navbar .container,
.header {
    background-color: #1F2937;
    padding: 30px 100px;
}

.navbar .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

a {
    text-decoration: none;
}

ul {
    display: flex;
    margin: 10px;
    gap: 15px;
    list-style: none;
}

.logo {
    font-size: 24px;
    font-weight: bolder;
    color: #F9FAF8;
}

.header {
    display: flex;
}

.left_items {
    padding-right: 45px;
}

img {
    max-width: 500px;
    margin: 15px;
    display: block;
}

h1 {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
    line-height: 2em;
}

p {
    line-height: 1.2em;
}

p,
a {
    font-size: 18px;
    color: #e5e7eb;
}

button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #3882f6;
    color: #F9FAF8;
    font-size: medium;
    border-radius: 10px;
    padding: 20px;
    width: 110px;
    height: 30px;
    border: 0;
    margin: 20px 0px;
}

.second .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.boxes {
    display: flex;
    gap: 50px;
    align-items: center;
    justify-content: center;
    padding: 50px 150px;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.one,
.two,
.three,
.four {
    display: flex;
    height: 150px;
    width: 150px;
    border: 4px;
    border-style: solid;
    border-color: #3882f6;
    border-radius: 15px;
}

.card p {
    color: #1F2937;
    margin: 10px;
}

h2 {
    display: flex;
    flex: 1;
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
    margin: 50px 50px 25px 50px;
}

.quote {
    background-color: #e5e7eb;
    padding: 100px 150px;
}

.quote p {
    color: #1F2937;
    font-size: 36px;
    font-weight: 100;
    font-style: italic;

}

#cite {
    text-align: right;
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    padding: 20px;
}

.call_to_action {
    display: flex;
    justify-content: space-between;
    flex-shrink: 0;
    margin: 100px 150px;
    padding: 0px 50px;
    background-color: #3882f6;
    border-radius: 15px;
    max-height: 175px;
}

.left-side {
    margin: 45px;
    max-width: 500px;
    display: flex;
    flex-direction: column;
}

#signup {
    border: solid white 4px;
    margin: 50px;
    border-radius: 15px;
}

#calltoaction {
    color: #e5e7eb;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
    background-color: #1F2937;
}